 * {
   margin:0;
   padding:0;
   font-family: 'Caveat', cursive;
}
.header{
     min-height : 100vh;
     width: 100%;
     background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(mine.jpg);
     background-position: center;
     background-size: cover;
     position: relative;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
     width: 150px;


}
.nav-links{
     flex: 1;
     text-align: right;

}
.nav-links ul li{
      list-style: none;
      display: inline-block;
      padding: 8px 12px;
      position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
     content: '';
     width: 0;
     height: 2px;
     background: #f44336;
     display: block;
     margin: auto;
     transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.text-box{
   width: 90%;
   color: #fff;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   text-align: center;
}

.text-box{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.btm-link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.btm-link:hover{
   border: 1px solid #f44336;
   background: #f44336;
   transition: 1s;
}

@media (max-width: 700px) {

      .nav-links{
         position: absolute;
         background: #f44336;
         height: 100vh;
         width: 200px;
         top: 0;
         right: 0;
         text-align: left;
         z-index: 2;
      }

}
.side-bar{
   background: #f44336;
   width: 250px;
   left: -250px;
   height: 100vh;
   position: fixed;
   top: 0;
   overflow-y: auto;
   transition: 0.6s ease;
   transition-property: left;
}
.close-btn{
   position: absolute;
   color: #fff;
   font-size: 23px;
   right: 0;
   margin: 15px;
   cursor: pointer;
}
header h1{
  text-align: center;
  font-weight: 500;
  font-size: 25px;
  padding-bottom: 13px;
  letter-spacing: 2px;
  padding-top: 15px;
  color: #fff;
}
.menu{
   width: 100%;
   margin-top: 0;
}
.menu .item{
    position: relative;
    cursor: pointer;

}
.menu .item a{
   color: #fff;
   font-size: 16px;
   text-decoration: none;
   display: block;
   padding: 5px 30px;
   line-height: 60px;
}
.item i{
   margin-right: 15px;
}
.item a .dropdown{
  position: absolute;
  right: 0;
  margin: 25px;
  transition: 0.5s ease;
}
.item .sub-menu{
  background: #262627;
  display: none;
}
.menu-btn{
   position: absolute;
   color: #f44336;
   font-size: 40px;
   cursor: pointer;
}
.side-bar .active{
  left: 0;
}
