{% extends 'base.html' %}

{% block head %}
 <h1 style="text-align:center">STUDENT DATA</h1>
{% endblock %}

{% block body %}
 <div class="studentlist">
     <h1 style="text-align:center"> Update Student list</h1>

     <div class="form">
         <center>
       <form action="/update/{{ list.student_id }}" method="POST">
           <input type="number" name="std_id" id="std_id" value="{{list.student_id }}">
           <input type="text" name="std_name" id="std_name" value="{{list.student_name }}">
           <input type="number" name="std_rollno" id="std_rollno" value="{{list.student_number}}">
           <input type="text" name="std_mail" id="std_mail" value="{{list.student_mail }}">
           <input type="number" name="std_marks" id="std_marks" value="{{list.student_marks }}">
           <input type="submit" value="Update Student">
       </form>
         </center>
     </div>
 </div>
{% endblock %}
