{% extends 'base.html' %}

{% block head %}
 <h1 style="text-align:center">STUDENT DATA</h1>
{% endblock %}

{% block body %}
 <div class="studentlist">
     <h1 style="text-align:center"> Student List</h1>
     {% if past_list|length <1 %}
            <h3 style="text-align:center">There are no student details add one!</h3>
     {% else %}
      <table>
       <tr>
         <th>Roll number</th>
         <th>Student Name</th>
         <th>Student ID</th>
         <th>Student mail ID</th>
         <th>Student marks</th>
         <th>Actions</th>
       </tr>

          {% for list in past_list %}
           <tr>
            <td>{{ list.student_id }}</td>
            <td>{{ list.student_name }}</td>
            <td>{{ list.student_number }}</td>
            <td>{{ list.student_mail }}</td>
            <td>{{ list.student_marks }}</td>
            <td>
                   <a href="/update/{{list.student_id}}">Update</a>
             <br>
                   <a href="/delete/{{list.student_id}}">Delete</a>
            </td>
           </tr>
          {% endfor %}
      </table>
     {% endif %}
         <div class="form">
             <center>
           <form action="/" method="POST">
               <input type="number" name="std_id" id="std_id">
               <input type="text" name="std_name" id="std_name">
               <input type="number" name="std_rollno" id="std_rollno">
               <input type="text" name="std_mail" id="std_mail">
               <input type="number" name="std_marks" id="std_marks">
               <input type="submit" value="Add Student">
           </form>
             </center>
         </div>
 </div>
{% endblock %}
